# file containing my personal project directories
projects.zsh

# ignore tmux plugins, except tmux pacakge manager
.tmux/plugins/*
!.tmux/plugins/tpm/
!.tmux/plugins/tpm/**

# ignore custom glossary for nvim
.config/nvim/spell
